/* General rules */
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  /* box-sizing: content-box; */
  /* domyślnie to jest content-box */
}



body{
    margin:0;
    font-size: 16px;
    font-family: 'Neucha', cursive;

}

img {
  max-width: 100%;
  height: auto;
}

/* Container */
#container {
  max-width: 1000px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 30px darkgrey;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

/* Brand */

.brand a,
.brand img {
  display: block;
}

.logoText {
  display: inline-block;
  width: 200px;
  height: 50px;
}
.logoText p {
  font-family: "Lobster", cursive;
  font-size: 4em;
  padding: 0;
  margin: 5px 0 5px 10px;
}

/* Menu */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 15px;
  transition: 1s;
}

nav ul li a img {
  margin: 0 5px;
  display: inline-block;
  position: relative;
  top: 4px;
}

nav ul li a:hover {
  background: linear-gradient(
    243deg,
    rgba(34, 195, 78, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 20px;
  color: white;
  border: 1px solid rgb(2, 143, 49);
}

/* Slider */

.slider img {
  display: block;
}

/* Main */

main {
  display: flex;
  justify-content: space-between;
}

/* article */

article {
  width: 70%;
  padding: 30px;
  background-color: lightslategray;
}

/* Przeanalizować ponizszy selektor w kontekscie dzialania wlasciwości box-sizing na wszystkich elementach */
article img {
  padding-left: 100px;
  border-left: 10px solid blue;
  padding-right: 70px;
  margin-right: 20px;
}

aside {
  width: 30%;
  padding: 20px;
  background-color: rgb(188, 240, 188);
  border-left: 2px dashed black;
}

.widget {
  margin-bottom: 40px;
}

.widget img {
  float: left;
  margin: 0 10px 5px 0;
  border-radius: 5%;
}

.links ul {
  margin: 0;
  padding-left: 18px;
  list-style-type: square;
}

.links ul li {
  margin-bottom: 10px;
}

/* footer */
footer {
  background-color: lightgrey;
  border-top: 2px dashed black;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  text-shadow: 2px 2px darkgrey;
}
